---
import { Icon } from "astro-icon";

interface Props {
  type: "astro" | "neovim" | "nuxt" | "obsidian" | "spotify" | "tailwindcss" | "typescript";
  href: string;
  label?: string;
}

const { type, href, label } = Astro.props;
---

<a
  class="inline-flex items-center gap-1 rounded border border-zinc-200 bg-zinc-50 p-1 text-sm leading-4 text-neutral-900 no-underline hover:underline dark:border-zinc-700 dark:bg-zinc-800 dark:text-zinc-100"
  href={href}
>
  <Icon name={type} class="h-3 w-3" />
  <span class="capitalize">{label ? label : type}</span>
</a>
