---
const languageHeader = decodeURIComponent(Astro.request.headers.get("accept-language"));
const languageCode = languageHeader ? languageHeader.split(",")[0].split(";")[0].split("-")[0] : "";

const greetings = {
  es: "hola",
  fr: "bonjour",
  de: "hallo",
  it: "ciao",
  pt: "olá",
  nl: "hallo",
  pl: "cześć",
  sv: "hej",
  da: "hej",
  no: "hei",
  fi: "hei",
  el: "γειά σας",
  hu: "helló",
  cz: "ahoj",
};
---

<h1>{greetings[languageCode] || "hello"}! 👋</h1>
