---
type Link = {
  href: string;
  label: string;
};

const response = await fetch("https://cdn.ggtn.ch/blog/links.json");
const links: Link[] = await response.json();
---

<div class="mb-8 flex items-center gap-2" style="font-size: 16px; line-height: 24px; font-weight: 500;">
  {
    links.map((link, index) => (
      <>
        <a href={link.href} class="underline">
          {link.label}
        </a>
        {index < links.length - 1 && <span>/</span>}
      </>
    ))
  }
</div>
