---
import twitterBlueIconRef from "@icons/twitter-blue.svg";
---

<nav class="m-auto w-full max-w-prose py-4 text-zinc-700 dark:text-white/80">
  <div class="flex w-full items-center justify-between">
    <div class="flex flex-col gap-1">
      <a href="/">
        <h1 class="text-2xl font-extrabold">
          <span class="text-zinc-900 dark:text-white">gigantino</span><span
            class="text-purple-600 dark:text-purple-400">.dev</span
          >
        </h1>
      </a>
      <div class="flex gap-1">
        <img src={twitterBlueIconRef.src} alt="Twitter Blue (X?)" width="20px" height="20px" />
        <div>Verified (I paid $12 for this domain)</div>
      </div>
    </div>
  </div>
</nav>
