---
import Post from "./Post.astro";
const allPosts = await Astro.glob("../pages/blog/*.mdx");
---

<div class="not-prose flex flex-col gap-4">
  {
    allPosts.map((post) => (
      <Post
        href={post.url}
        title={post.frontmatter.title}
        description={post.frontmatter.description}
        tags={post.frontmatter.tags}
      />
    ))
  }
</div>
