---
interface Props {
  href?: string;
  title?: string;
  description?: string;
}

const { title, description, href } = Astro.props;
---

<a
  class="flex w-full justify-between rounded border bg-zinc-50 px-3 py-4 text-gray-900 dark:border-zinc-700 dark:bg-zinc-800 dark:text-white"
  href={href}
>
  <div class="flex flex-col">
    <p class="font-bold">
      {title}
    </p>
    <p class="text-zinc-600 dark:text-zinc-300">
      {description}
    </p>
  </div>
</a>
