---
import Navigation from "@components/Navigation.astro";

const { title, description } = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:site_name" content="gigantino.dev" />
    <meta property="og:url" content="https://gigantino.dev/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="description" content={description} />
    <meta property="og:locale" content="en_US" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title + " - gigantino.dev"}</title>
  </head>
  <body class="bg-white dark:bg-zinc-900 dark:text-white">
    <div class="px-6 py-14">
      <Navigation />
      <main class="prose prose-zinc m-auto dark:prose-invert">
        <slot />
        {
          Astro.url.pathname != "/" && (
            <a href="/">
              <button class="rounded-full border bg-zinc-50 px-2 font-bold text-zinc-700 dark:border-zinc-700 dark:bg-zinc-800 dark:text-white">
                {"< Homepage"}
              </button>
            </a>
          )
        }
      </main>
    </div>
  </body>
</html>
